.main-road {
  background-color: lightgray;
  display: flex;
  align-items: center;
  /* width: 100%; */
  height: 200px;
  position: relative;
}

.traffic-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
